@import "../variables";

footer{
    width: 100%;
    padding: 4rem 0;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        ul{
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            li{
                a{
                    color: $black;
                    position: relative;
                    &::after{
                        content: '';
                        width: 0%;
                        height: 1px;
                        bottom: -2px;
                        transition: all .5s ease;
                        background: $black;
                        position: absolute;
                        left: 0;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .footer-copyright{
            color: $white;
        }
    }
}
@media only screen and (max-width: 767px){
    footer{
        padding: 2rem 0;
        .container{
            ul{
                width: 100%;
                gap: 1rem;
                margin-top: 1rem;
                justify-content: center;
            }
            .footer-copyright{
                width: 100%;
                text-align: center;
                color: $black;
            }
        }
    }
}