@import "../variables";

header {
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;

    .logo {
      font-family: $serif-font;
      font-style: italic;
      font-size: 1.5rem;
    }
  }
}

.nav {
  ul {
    display: flex;
    gap: 2.8rem;
  }

  &-link {
    color: $black;
    position: relative; 
    transition: color 0.3s ease; 
    text-transform: uppercase;

    &::before,
    &::after {
      color: $pink;
      position: absolute; 
      transition: transform 0.3s ease, opacity 0.3s ease; 
      opacity: 0;
    }

    &::before {
      content: "{";
      left: 0;
      transform: translateX(-100%); 
    }

    &::after {
      content: "}";
      right: 0;
      transform: translateX(100%); 
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: translateX(-.8rem); 
      }

      &::after {
        opacity: 1;
        transform: translateX(.8rem);
      }
    }

    &.active {
      color: $pink;
      &::before, &::after{
        opacity: 1;
      }
      &::before{
        left: -.8rem;
      }
      &::after{
        right: -.8rem;
      }
    }
  }
}
