@import "../variables";

.project{
    &-container{
        &:hover{
            .project-screenshot{
                opacity: 1;
            }
            .project-name{
                transform: translateX(2rem);
                color: $pink;
            }
            .project-links{
                opacity: 1;
            }
        }
    }
    &-screenshot{
        position: absolute;
        width: 30%;
        height: 4.06rem;
        object-fit: cover;
        opacity: 0;
        transition: opacity 300ms ease-in;
        top: 35%;
        img{
            max-width: 100%;
        }
    }
    &-links{
        display: flex;
        gap: 1rem;
        font-size: .8rem;
        font-weight: 400;
        opacity: 0;
        transition: opacity 300ms ease-in;
    }
    &-link{
        border: 1px solid $black;
        border-radius: 20px;
        padding: .2rem 1rem;
        color: $black;
        cursor: pointer;
        position: relative;
        transition: all .3 ease;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            background: $black;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            border-radius: 20px;
            transition: all .3s;
        }
        &::after{
            width: 100%;
            content: attr(data-name);
            color: $white;
            position: absolute;
            text-align: center;
            z-index: 2;
            right: -100%;
            opacity: 0;
            transition: all .3s ease;
        }
        &:hover{
            color: $white;
            &::before{
                width: 150%;
            }
            &::after{
                opacity: 1;
                right: 0;
            }
        }
    }
    &-name{
        padding-left: 45%;
        font-size: 4rem;
        transition: all .3s ease-in-out;
        color: $black;
    }
}