@import "../variables";
.typewriter-serif{
    font-family: $serif-font;
    font-style: italic;
}
h1.title-about{
    font-size: 5.5rem;
    padding-bottom: 4rem;
}
p.text-about{
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 3.5rem;
    .outline{
        border: 1px solid $black;
        padding: .2rem .5rem;
        border-radius: 50px;
    }
}
img.avatar{
    width: 5rem;
}

@media only screen and (max-width: 991px){
    h1.title-about{
        font-size: 3rem;
    }
    img.avatar{
        width: 2.5rem;
    }
    p.text-about{
        font-size: 1rem;
        line-height: 2rem;
        .outline{
            padding: .1rem .4rem;
        }
    }
}
@media only screen and (max-width: 767px){
    h1.title-about{
        padding-bottom: 1rem;
    }
}